._body{
    min-height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    /* box-sizing: border-box; */
}

@media (max-width: 799px) {
    ._body{
        min-height: 250px;
    }
}

@media (min-width: 800px) {
    ._body{
        min-height: 500px;
    }
}

._body>h1{
    margin: auto;
}