.__background_active {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 3;
}

.__window_active {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 18px;
    z-index: 3;
    width: auto;
    height: auto;
    text-align: left;
    min-width: 310px;
    box-sizing: border-box;
}

._closeButton {
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    background-color: #004583;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}

@media (max-width: 799px) {
    .__window_active {
        padding: 5px 20px;
    }

    ._closeButton {
        right: -25px;
        top: -35px;
    }
}

@media (min-width: 800px) {
    .__window_active {
        padding: 20px 40px;
    }

    ._closeButton {
        right: -50px;
        top: -50px;
    }
}

._closeWrapper {
    position: relative;
}

._icon {
    margin: auto;
    display: flex;
    flex-direction: column;
}

._close_1,
._close_2 {
    background: white;
    border-radius: 12px;
    width: 30px;
    height: 5px;
    transform: translate(0, 2.5px) rotate(45deg);
}

._close_2 {
    transform: translate(0, -2.5px) rotate(-45deg);
}

.__window_active > div {
    margin: 15px 0;
}

.__inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.__inputWrapper > * {
    margin: 2px 0;
}

.__inputWrapper > button {
    cursor: pointer;
}

.__input_invalid {
    border: 2px solid rgb(129, 6, 6);
    box-shadow: 0 0 10px 2px rgb(129, 6, 6);
    border-radius: 5px;
    padding: 2px 5px;
}

.__input {
    border: 2px solid #004583;
    border-radius: 5px;
    padding: 2px 5px;
}

.__commentBox {
    min-height: 60px;
    padding: 2px 5px;
    border: 2px solid #004583;
    border-radius: 5px;
}

.__inputWrapper > button {
    border: 1px solid rgb(15, 15, 20);
    background: #004583;
    color: rgb(213, 213, 236);
    border-radius: 5px;
    padding: 15px 5px;
    font-size: 18px;
    font-weight: 500;
}
