.aside {
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    box-sizing: border-box;
    /* text-align: center; */
}

.aside>li {
    padding: 12px;
    width: 200px;
    height: 35px;
}

.aside_border {
    border-top: 1px solid #E7E6E6;
}

.aside__link>a {
    color: #004583;
}

@media (max-width: 799px) {
    .aside {
        padding-top: 20px;
        padding-bottom: 30px;
        font-size: 13px;
        line-height: 28px;
        width: 100%;
    }

    .aside>li {
        width: 100%;
    }

    .aside>div {
        width: auto;
    }
}