.info {
    margin: 30px 2px;
}

.info__wrapper {
    background: #ffffff;
    min-height: 250px;
    box-shadow: 0px 10px 52px -8px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    padding: 43px 52px;
    border: 1px solid #ddd;
}

@media screen and (max-width: 700px) {
    .info__wrapper {
        min-height: 200px;
    }
}

@media screen and (max-width: 400px) {
    .info__wrapper {
        min-height: 150px;
    }
}
