.header {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    letter-spacing: -0.5px;
    padding: 15px 10%;
}

@media (max-width:799px) {
    .header {
        padding: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
    }

    .header>* {
        padding: 0;
        width: 0;
        height: 0;
    }
}

.header__information {
    display: flex;
    width: 310px;
    box-sizing: border-box;
}

.header__information_marginRight {
    justify-content: end;
}

.header__informationItem_textLeft {
    text-align: left;
    padding-left: 5px;
}

.header__informationItem_textRight {
    text-align: right;
    padding-right: 5px;
}

.header__logo {
    padding: 10px;
    margin: auto auto;
}

.header__informationItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header__informationItem_spaceAround {
    justify-content: space-around;
    padding-top: 21px;
    padding-bottom: 5px;
}

.header__textRed {
    color: #BB2822;
}