@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*="1"]:before {
    content: "\f1cb";
}

label[for*="2"]:before {
    content: "\f17d";
}

label[for*="3"]:before {
    content: "\f16b";
}

label[for*="4"]:before {
    content: "\f1a9";
}

label:hover {
    color: #888;
    cursor: pointer;
}

.info__label_checked {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 700px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}
