.BurgerButtonMenu {
    box-sizing: border-box;
    width: 38px;
    height: 42.5px;
    padding: 5px;
    cursor: pointer;
}

.BurgerButtonMenu>div {
    box-sizing: border-box;
    width: 28px;
    height: 5px;
    background: #004583;
    margin-top: 5px;
    margin-bottom: 2.5px;
    border-radius: 16px;
    transition-duration: .25s;
}

.BurgerButtonMenu_active>.BurgerButtonMenu__item1 {
    transition-duration: .25s;
    transform: translate(5px, 0) rotate(45deg) translate(3px, 11px);
}

.BurgerButtonMenu_active>.BurgerButtonMenu__item2 {
    transition-duration: .25s;
    opacity: 0;
}

.BurgerButtonMenu_active>.BurgerButtonMenu__item3 {
    transition-duration: .25s;
    transform: translate(5px, 0) rotate(-45deg) translate(3px, -11px);
}