.section {
    margin: 5px;
    width: auto;
    height: auto;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    background-color: white;
}

.item {
    max-width: 310px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.item_target {
    height: auto;
    border-radius: 10px;
}

.imgWrapper {
    height: auto;
}

.img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.textWrapper {
    padding: 10px 5px;
}

.textWrapper>div {
    text-align: center;
}

.title {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #004583;
}

.title_target {
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
}

.text {
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
}

.text_target {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #071828;
    margin: 10px 0;
}

.price_target {
    font-weight: 800;
    font-size: 21px;
}

.button_target {
    padding: 14px 22px;
    border-radius: 5px;
    border: none;
    background: #004583;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
}


@media (min-width: 651px) {
    .item_target {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: calc(100% + 35px);
    }

    .wrapper {
        max-height: 310px;
        min-height: 250px;
    }

}

@media (max-width: 650px) and (min-width: 551px) {
    .item_target {
        transform: translate(-5.5%, -5%);
        width: calc(100% + 30px);

    }

    .wrapper {
        min-height: 310px;
    }
}

@media (max-width: 550px) and (min-width: 451px) {
    .item_target {
        transform: translate(-5.5%, -5%);
        width: calc(100% + 30px);

    }

    .wrapper {
        min-height: 240px;
    }
}

@media (min-width: 451px) {
    .item_target {
        background-color: white;
        position: absolute;
        z-index: 2;
        box-shadow: 0px 10px 52px -8px rgba(0, 0, 0, 0.3);
    }

    .button_hidden {
        display: none;
    }

    .wrapper,
    .img {
        max-height: 310px;
    }

    .imgWrapper,
    .img {
        max-width: 310px;
    }
}

@media (max-width: 450px) {

    .item,
    .item_target {
        max-width: 408px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }

    .title,
    .title_target {
        font-weight: 600;
        font-size: 24px;
        line-height: 25px;
    }

    .text,
    .text_target {
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
    }

    .price,
    .price_target {
        font-weight: 800;
        font-size: 21px;
    }

    .button_target,
    .button_hidden {
        padding: 14px 22px;
        border-radius: 5px;
        border: none;
        background: #004583;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 21px;
        line-height: 27px;
        text-transform: uppercase;
    }

    .wrapper {
        min-height: 240px;
    }
}