.catalog__itemWrapper {
    min-height: 350px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.5px;
    color: #071828;
    box-sizing: border-box;
    margin: 15px 0;
}

.catalog__item {
    box-sizing: border-box;
    max-width: 420px;
    margin: auto;
    padding: 5px;
    min-height: 320px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: static;
}

.catalog__itemImg>img {
    max-width: 360px;
    width: 100%;
    height: auto;
}

.catalog__itemTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #004583;
}

.catalog__itemPrice {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #071828;
}

.catalogItem__button {
    padding: 14px 22px;
    border-radius: 5px;
    border: none;
    background: #004583;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}


@media (min-width: 501px) {
    .catalog__itemWrapper {
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        position: relative;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.5px;
        color: #071828;
        box-sizing: border-box;
    }

    .catalog__item {
        max-width: 320px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .catalog__item_target {
        max-width: 340px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.5px;
        color: #071828;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        z-index: 2;
        width: calc(100% + 25px);
        height: calc(100% + 75px);
        box-shadow: 0px 10px 52px -8px rgba(0, 0, 0, 0.3);
    }

    .catalog__item_target>div {
        margin: 5px 0;
    }


    .catalog__itemImg_target>img {
        width: 100%;
        height: 100%;
    }

    .catalog__itemTitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #004583;
    }

    .catalog__itemTitle_target {
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
        color: #004583;
    }

    .catalog__itemPrice {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #071828;
    }

    .catalog__itemPrice_target {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #071828;
    }

    .catalogItem__buttonWrapper {
        height: 0;
    }

    .catalogItem__buttonWrapper_target {
        height: auto;
    }

    .catalogItem__button {
        padding: 0;
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .catalogItem__button_target {
        height: auto;
        width: auto;
        padding: 14px 22px;
        border-radius: 5px;
        border: none;
        background: #004583;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
        line-height: 19px;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        visibility: visible;
    }
}

@media (min-width: 651px) {
    .catalog__itemWrapper {
        font-size: 9px;
        line-height: 11px;
    }

    .catalog__item {
        max-width: 360px;
    }

    .catalog__item_target {
        max-width: 400px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        width: calc(100% + 30px);
        height: calc(100% + 30px);
        padding-bottom: 5px;
    }

    .catalog__itemTitle_target {
        font-size: 17px;
        line-height: 18px;
    }

    .catalog__itemPrice {
        font-size: 14px;
        line-height: 16px;
    }

    .catalog__itemPrice_target {
        font-size: 18px;
        line-height: 21px;
    }

    .catalogItem__button_target {
        padding: 7px 14px;
        font-size: 20px;
        line-height: 25px;
    }
}

@media (min-width: 800px) {
    .catalog__itemWrapper {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        position: relative;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.5px;
        color: #071828;
        box-sizing: border-box;
    }

    .catalog__item {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
    }

    .catalog__item_target {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.5px;
        color: #071828;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        z-index: 2;
        width: calc(100% + 30px);
        height: calc(100% + 85px);
        /* width: calc(100% + 50px);
        height: calc(100% + 50px); */
        box-shadow: 0px 10px 52px -8px rgba(0, 0, 0, 0.3);
    }

    .catalog__itemTitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #004583;
    }

    .catalog__itemPrice {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #071828;
    }

    .catalogItem__button_target {
        padding: 14px 22px;
        border-radius: 5px;
        border: none;
        background: #004583;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 21px;
        line-height: 27px;
        letter-spacing: -0.5px;
        text-transform: uppercase;
    }

    .catalog__itemImg_target>img {
        width: 100%;
        height: 100%;
    }

    .catalog__itemTitle_target {
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
        color: #004583;
    }

    .catalog__itemPrice_target {
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #071828;
    }
}