.info {
    margin: 30px 2px;
}

.info__wrapper {
    background: #FFFFFF;
    min-height: 350px;
    box-shadow: 0px 10px 52px -8px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    padding: 43px 52px;
    border: 1px solid #ddd;
}