.footer {
    height: auto;
    width: 100%;
}

.footer__hat {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e6e6;
}

.footer__nameCo {
    position: absolute;
    left: 24px;
    top: 57px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #bebebe;
}

.footer__logo {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.footer__logo > img {
    width: 173px;
    height: 86px;
    margin: auto;
}

@media (max-width: 799px) {
    .footer {
        height: auto;
        width: 100%;
    }

    .footer__nameCo {
        bottom: -40px;

        position: static;
        margin: 31px auto;

        font-size: 14px;
        line-height: 18px;
    }

    .footer__logo {
        padding-top: 23px;
    }
}
