.catalog {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 350px;
    row-gap: 20px;
    align-content: space-around;
    width: auto;
    max-width: 930px;
    margin-left: 30px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 10px 52px -8px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    box-sizing: border-box;
}

.catalog__list_empty {
    display: flex;
    flex-direction: column;
}

@media (max-width: 799px) {
    .catalog__list {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        max-width: 799px;
        margin-left: 20px;
    }
}

@media (max-width: 650px) {
    .catalog__list {
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .catalog__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        margin-left: 0;
    }
}