.__popUp {
    position: fixed;
    right: -150vw;
    bottom: 6%;
    width: auto;
    height: auto;
    background: white;
    z-index: 5;
    padding: 15px 50px 15px 20px;
    box-sizing: border-box;
    border-left: 15px solid #004583;
    text-align: left;
    display: flex;
    transition-duration: 1s;
    opacity: 0;
    
}

.__popUp_active {
    right: 0;
    width: auto;
    transition-duration: 1s;
    opacity: 1;
    min-width: 310px;
}

.__text {
    margin: auto 0;
    width: auto;
    height: auto;
    max-width: 450px;
    overflow-wrap: break-word;
}