@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.5px;
}

@media (min-width:800px) {
  .App {
    max-width: 1440px;
    min-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width:799px) {
  .App {
    max-width: 799px;
    min-width: 320px;
    width: auto;
  }
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  max-height: 469px;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, rgb(255, 255, 255));
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .4);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1) !important;
  background: var(--swiper-pagination-color, var(--swiper-theme-color)) !important;
}

@media (max-width: 799px) {
  .swiper {
    height: 450px;
  }
}

@media (max-width: 600px) {
  .swiper {
    height: 420px;
  }
}

@media (max-width: 450px) {
  .swiper {
    height: 390px;
  }
}

@media (max-width: 750px) {

  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}