@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.5px;
}

@media (min-width:800px) {
  .App {
    max-width: 1440px;
    min-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width:799px) {
  .App {
    max-width: 799px;
    min-width: 320px;
    width: auto;
  }
}